@using Informacni_System_Pojistovny.Models.Entity;
@model Informacni_System_Pojistovny.Models.Entity.Pobocka

@{
    ViewData["Title"] = "Detaily";
}

<h1>Detaily pobočky</h1>

<div>
    <h4>Pobočka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
    </dl>
    <h4>Adresa pobočky</h4>
    @if (Model.Adresa == null)
    {
        @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
        {
            @Html.ActionLink("Přidat adresu", "AddAddress", new { id = ViewContext.RouteData.Values["id"] })
        }
    }
    <hr />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Město
            </th>
            <th>
                PSČ
            </th>
            <th>
                Ulice
            </th>
            <th>
                Číslo popisné
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Adresa != null)
        {
            Adresa adresa = Model.Adresa;
            <tr>
                <td>
                @adresa.Psc.Mesto
                </td>
                <td>
                @adresa.Psc.PscCislo
                </td>
                <td>
                @adresa.Ulice
                </td>
                <td>
                @adresa.CisloPopisne
                </td>
                <td>
                    @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
                    {
                        @Html.ActionLink("Změnit adresu", "EditAddress", new { id = adresa.AdresaId, redirectTo = Model.PobockaId })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
                    {
   <span>@Html.ActionLink("Upravit pobočku", "Edit", new { id=Model.PobockaId }) |</span>
                    }
    <a asp-action="Index">Zpět na přehled poboček</a>
</div>
