@model Informacni_System_Pojistovny.Models.Entity.Pojistka

@{
    ViewData["Title"] = "Detaily pojistky";
}

<h1>Detaily pojistky</h1>

<div>
    <h4>Pojistka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sjednano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sjednano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poplatek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poplatek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Status == true)
            {
                @Html.DisplayName("Aktivní")
            }
            @if (Model.Status == false)
            {
                @Html.DisplayName("Neaktivní")
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SjednanaVyse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SjednanaVyse)
        </dd>
        <dt class="col-sm-2">
            Pojistný produkt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PojistnyProdukt.Nazev)
        </dd>
        <dt class="col-sm-2">
            Klient
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klient.CeleJmeno)
        </dd>
    </dl>
    <h4>Podmínky pojistky</h4>
    @Html.ActionLink("Přidat podmínku", "AddCondition", new { id = ViewContext.RouteData.Values["id"] })
    <hr/>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Popis
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var podminka in Model.Podminky)
        {
            <tr>
                <td>
                    @podminka.Popis
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Editovat", "Edit", new {  id = Model.ID }) |
    <a asp-action="Index">Zpět na přehled pojistek</a>
                <p>

</p>
    <h1>Pohledávky</h1>
        <p>
        @Html.ActionLink("Vytvoření nové pohledávky", "Create","Pohledavka", new { pojistkaId=Model.ID })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                    Pohledávky k pojistce
            </th>
            <th>
                    Datum splatnosti
            </th>
            <th>
                    Výše
            </th>
            <th>
                    Datum splacení
            </th>
            <th>
                    Popis
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Pohledavky)
            {
                                <tr>
                                    <td>
                        @Html.DisplayFor(modelItem => item.Vznik)
                                    </td>
                                    <td>
                        @Html.DisplayFor(modelItem => item.DatumSplatnosti)
                                    </td>
                                    <td>
                        @Html.DisplayFor(modelItem => item.Vyse)
                                    </td>
                                    <td>
                        @{
                            if (item.DatumSplaceni != null)
                            {
                    //Html.DisplayFor(modelItem => item.DatumSplaceni);  -- hmm, s dateTime? to hodně funguje...
                                                                                                                <span>@(((DateTime)item.DatumSplaceni).ToString("dd.MM.yyyy"))</span>
                            }
                            else
                            {
                                                                                                  <span>Nesplaceno</span>
                            }
                        }
                                    </td>
                                    <td>
                        @Html.DisplayFor(modelItem => item.Popis)
                                    </td>
                                    <td>
                        @Html.ActionLink("Detail", "Details", "Pohledavka", new { id=item.ID, redirectedFrom= "Pojistka" }) |

                        @Html.ActionLink("Upravit", "Edit","Pohledavka", new { id=item.ID, redirectedFrom= "Pojistka" }) |
                        @Html.ActionLink("Smazat", "Delete","Pohledavka", new { id=item.ID, redirectedFrom= "Pojistka" })
                                    </td>
                                </tr>
            }
    </tbody>
</table>
    @{
        if (Model.Pohledavky == null || Model.Pohledavky.Count == 0)
        {
                                                                    <span>K této pojistné události nejsou evidovány žádné závazky.</span>
        }
    }
</div>
