@model IEnumerable<Informacni_System_Pojistovny.Models.Entity.Pojistka>

@{
    ViewData["Title"] = "Správa pojistek";
}

<h1>Správa pojistek</h1>

<p>
    <a asp-action="Create">Vytvořit novou pojistku</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sjednano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poplatek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SjednanaVyse)
            </th>
             <th>
                Pojistný produkt
            </th>
            <th>
                Klient
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sjednano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poplatek)
            </td>
                <td>
                    @if (item.Status)
                    {
                        @Html.DisplayName("Aktivní")
                    }
                    else
                    {
                        @Html.DisplayName("Neaktivní")
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.SjednanaVyse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PojistnyProdukt.Nazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klient.CeleJmeno)
            </td>
            <td>
                @Html.ActionLink("Editovat", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detaily", "Details", new { id = item.ID }) |
                @Html.ActionLink("Smazat", "Delete", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
