@model IEnumerable<Informacni_System_Pojistovny.Models.Entity.Psc>

@{
    ViewData["Title"] = "Index";
}

<h1>Správa PSČ</h1>

<p>
    <a asp-action="Create">Vytvořit novou PSČ</a>
</p>
@Html.Partial("_paging")
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PscCislo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PscCislo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mesto)
                </td>
                <td>
                    @Html.ActionLink("Editace", "Edit", new {  id=item.PscCislo }) |
                    @Html.ActionLink("Detaily", "Details", new {  id=item.PscCislo }) |
                    @Html.ActionLink("Smazat", "Delete", new {  id=item.PscCislo })
                </td>
            </tr>
    }
    </tbody>
</table>
