@using Informacni_System_Pojistovny.Models.Entity
@model Informacni_System_Pojistovny.Models.Entity.Klient

@{
    ViewData["Title"] = "Delete";
}

<h1>Zneaktivnění klienta</h1>

<h3>Chcete opravdu zneaktivnit tohoto klienta??</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KlientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KlientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stav)
        </dt>
        <dd class = "col-sm-10">
                @if (Model.Stav == true)
                {
                    @Html.DisplayName("Aktivní")
                }
                @if (Model.Stav == false)
                {
                    @Html.DisplayName("Neaktivní")
                }
        </dd>

        @if (Model.GetType() == typeof(FyzickaOsoba))
        {
            FyzickaOsoba klientFyz = Model as FyzickaOsoba;
            <dt class="col-sm-2">
                Jméno
            </dt>
            <dd class="col-sm-10">
                @klientFyz.Jmeno
            </dd>
            <dt class="col-sm-2">
                Příjmení
            </dt>
            <dd class="col-sm-10">
                @klientFyz.Prijmeni
            </dd>
            <dt class="col-sm-2">
                Rodné číslo
            </dt>
            <dd class="col-sm-10">
                @klientFyz.RodneCislo
            </dd>
            <dt class="col-sm-2">
                Telefon
            </dt>
            <dd class="col-sm-10">
                @klientFyz.Telefon
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @klientFyz.Email
            </dd>
        }
        else
        {
            PravnickaOsoba pravnickaOsoba = Model as PravnickaOsoba;
            <dt class="col-sm-2">
                Název
            </dt>
            <dd class="col-sm-10">
                @pravnickaOsoba.Nazev
            </dd>
            <dt class="col-sm-2">
                Ičo
            </dt>
            <dd class="col-sm-10">
                @pravnickaOsoba.Ico
            </dd>
        }

    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Změnit stav" class="btn btn-danger" /> |
        <a asp-action="Index">Zpět na přehled klientů</a>
    </form>
</div>
