@using Informacni_System_Pojistovny.Models.Entity
@model Informacni_System_Pojistovny.Models.Entity.Klient

@{
    ViewData["Title"] = "View";
}

<h1>Detail</h1>

<div>
    <h4>Informace o klientovi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stav)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Stav == true)
            {
                @Html.DisplayName("Aktivní")
            }
            @if (Model.Stav == false)
            {
                @Html.DisplayName("Neaktivní")
            }
        </dd>

        @if (Model.GetType() == typeof(FyzickaOsoba))
        {
            FyzickaOsoba klientFyz = Model as FyzickaOsoba;
            <dt class="col-sm-2">
                Jméno
            </dt>
            <dd class="col-sm-10">
                @klientFyz.Jmeno
            </dd>
            <dt class="col-sm-2">
                Příjmení
            </dt>
            <dd class="col-sm-10">
                @klientFyz.Prijmeni
            </dd>
            <dt class="col-sm-2">
                Rodné číslo
            </dt>
            <dd class="col-sm-10">
                @klientFyz.RodneCislo
            </dd>
            <dt class="col-sm-2">
                Telefon
            </dt>
            <dd class="col-sm-10">
                @klientFyz.Telefon
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @klientFyz.Email
            </dd>
        }
        else
        {
            PravnickaOsoba pravnickaOsoba = Model as PravnickaOsoba;
            <dt class="col-sm-2">
                Název
            </dt>
            <dd class="col-sm-10">
                @pravnickaOsoba.Nazev
            </dd>
            <dt class="col-sm-2">
                Ičo
            </dt>
            <dd class="col-sm-10">
                @pravnickaOsoba.Ico
            </dd>
        }
    </dl>
    <h4>Adresy klienta</h4>
    @Html.ActionLink("Přidat adresu", "AddAddress", new { id = ViewContext.RouteData.Values["id"] })
    <hr />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Město
            </th>
            <th>
                PSČ
            </th>
            <th>
                Ulice
            </th>
            <th>
                Číslo popisné
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var adresa in Model.Adresy)
    {
            <tr>
                <td>
                    @adresa.Psc.Mesto
                </td>
                <td>
                    @adresa.Psc.PscCislo
                </td>
                <td>
                    @adresa.Ulice
                </td>
                <td>
                    @adresa.CisloPopisne
                </td>
                <td>
                    @Html.ActionLink("Změnit adresu", "EditAddress", new { id = adresa.AdresaId })
                    @if (Model.Adresy.Count > 1)
                    {
                        <span>|</span>
                        @Html.ActionLink("Smazat adresu", "DeleteAddress", new { id = adresa.AdresaId })
                    }
                </td>
            </tr>
    }
    </tbody>
</table>

<h4>Pojistky klienta</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Stav
            </th>
            <th>
                Pojistný produkt
            </th>
            <th>
                Poplatek
            </th>
            <th>
                Sjednaná výše
            </th>
            <th>
                Sjednáno
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pojistka in Model.Pojistky)
        {
            <tr>
                <td>
                    @if (pojistka.Status == true)
                    {
                        @Html.DisplayName("Aktivní")
                    }
                    @if (pojistka.Status == false)
                    {
                        @Html.DisplayName("Neaktivní")
                    }
                </td>
                <td>
                    @pojistka.PojistnyProdukt.Popis
                </td>
                <td>
                    @pojistka.Poplatek
                </td>
                <td>
                    @pojistka.SjednanaVyse
                </td>
                <td>
                    @pojistka.Sjednano
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Pojistné události klienta</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Popis
            </th>
            <th>
                Nárokovaná výše pojistky
            </th>
            <th>
                Vznik
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pojistnaUdalost in Model.PojistneUdalosti)
        {
            <tr>
                <td>
                    @pojistnaUdalost.Popis
                </td>
                <td>
                    @pojistnaUdalost.NarokovanaVysePojistky
                </td>
                <td>
                    @pojistnaUdalost.Vznik
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Upravit klienta", "Edit", new { id = ViewContext.RouteData.Values["id"] }) |
    <a asp-action="Index">Zpět na přehled klientů</a>
</div>
