@model Informacni_System_Pojistovny.Models.Model.KlientEditModel

@{
    ViewData["Title"] = "Změnit uživatele";
}

<h1>Edit</h1>

<h4>Klient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="radio" name="typOsoby" value="Fo" @if(Model.Jmeno != null) {@Html.DisplayName("checked");} /> Fyzická osoba
                <input type="radio" name="typOsoby" value="Po" @if(Model.Ico != null) {@Html.DisplayName("checked");} /> Právnická oboba
            </div>
            <!-- Pokud se jedna o fyzickou osobu -->
            <div id="fyzO" @if(Model.Jmeno == null) {@Html.DisplayName("class=noDisplay");}>
                <div class="form-group">
                    <label asp-for="Jmeno" class="control-label"></label>
                    <input asp-for="Jmeno" value="@Model.Jmeno" class="form-control" />
                    <span asp-validation-for="Jmeno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prijmeni" class="control-label"></label>
                    <input asp-for="Prijmeni" value="@Model.Prijmeni" class="form-control" />
                    <span asp-validation-for="Prijmeni" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RodneCislo" class="control-label"></label>
                    <input asp-for="RodneCislo" value="@Model.RodneCislo" class="form-control" />
                    <span asp-validation-for="RodneCislo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefon" class="control-label"></label>
                    <input asp-for="Telefon" value="@Model.Telefon" class="form-control" />
                    <span asp-validation-for="Telefon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" value="@Model.Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <!-- Pokud se jedna o pravnickou osobu -->
            <div id="pravO" @if(Model.Ico == null) {@Html.DisplayName("class=noDisplay");}>
                <div class="form-group">
                    <label asp-for="Ico" class="control-label"></label>
                    <input asp-for="Ico" value="@Model.Ico" class="form-control" />
                    <span asp-validation-for="Ico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nazev" class="control-label"></label>
                    <input asp-for="Nazev" value="@Model.Nazev" class="form-control" />
                    <span asp-validation-for="Nazev" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" name="zvolenyTypOsoby" value="F" />

            <div class="form-group">
                <input type="submit" value="Uložit změny" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zpět na přehled klientů</a>
</div>

<script src="~/js/createNewClient.js" asp-append-version="true"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
