@using Informacni_System_Pojistovny.Models.Entity
@model IEnumerable<Informacni_System_Pojistovny.Models.Entity.Klient>

@{
    ViewData["Title"] = "Správa klientů";
}

<h1>Správa klientů</h1>

<p>
   @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
    {
        <a asp-action="Create">Vytvořit nového klienta</a>
    }
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filtrovat dle řetězce: <input type="text" name="CurrentFilter" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Filtruj" class="btn btn-default" /> |
            <a asp-action="Index">Zrušit filtr</a>
        </p>
    </div>
</form>
@Html.Partial("_paging")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stav)
            </th>
            <th>
                Ičo
            </th>
            <th>
                Jméno
            </th>
            <th>
                Příjmení
            </th>
            <th>
                Rodné číslo
            </th>
            <th>
                Telefon
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var klient in Model) {
        <tr>
            <td>
                @if (klient.Stav)
                {
                    @Html.DisplayName("Aktivní")
                }
                else
                {
                    @Html.DisplayName("Neaktivní")
                }
            </td>

                @if (klient.GetType() == typeof(FyzickaOsoba))
                {
                    FyzickaOsoba klientFyz = klient as FyzickaOsoba;
                                <td>
                                    <!-- Fyz. osoba nema ico -->
                                </td>
                                <td>
                        @Html.DisplayFor(modelItem => klientFyz.Jmeno)
                                </td>
                                <td>
                        @Html.DisplayFor(modelItem => klientFyz.Prijmeni)
                                </td>
                                <td>
                        @Html.DisplayFor(modelItem => klientFyz.RodneCislo)
                                </td>
                                <td>
                        @Html.DisplayFor(modelItem => klientFyz.Telefon)
                                </td>
                                <td>
                        @Html.DisplayFor(modelItem => klientFyz.Email)
                                </td>
                }
                else
                {
                    PravnickaOsoba pravnickaOsoba = (PravnickaOsoba)klient;
                                <td>
                        @Html.DisplayFor(modelItem => pravnickaOsoba.Ico)
                                </td>
                                <td>
                        @Html.DisplayFor(modelItem => pravnickaOsoba.Nazev)
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                }
                <td>

                    @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
                    {
                                     <span>@Html.ActionLink("Editovat", "Edit", new { id=klient.KlientId }) |</span>
                    }
                    @Html.ActionLink("Detail", "Details", new { id=klient.KlientId })
                    @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
                    {
                             <span>| @Html.ActionLink(klient.Stav? "Zneaktivnit" : "Zaktivnit", "Delete", new {  id=klient.KlientId })</span>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
