@model IEnumerable<Informacni_System_Pojistovny.Models.Entity.Podminka>

@{
    ViewData["Title"] = "Index";
}

<h1>Přehled podmínek</h1>

<p>
                        @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
                    {
    <a asp-action="Create">Vytvořit novou podmínku</a>
                    }
</p>

@Html.Partial("_paging")
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popis)
            </td>
            <td>
                    @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
                    {
                <span>@Html.ActionLink("Editovat", "Edit", new { id = item.ID }) |</span>
                    }
                @Html.ActionLink("Detaily", "Details", new {  id = item.ID })
                @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
                {
                  <span>| @Html.ActionLink("Smazat", "Delete", new {  id = item.ID })</span>
                }
                </td>
        </tr>
}
    </tbody>
</table>
