@model IEnumerable<Informacni_System_Pojistovny.Models.Entity.Uzivatel>

@{
    ViewData["Title"] = "Přehled uživatelů";
}

<h1>Přehled uživatelů</h1>
@Html.ActionLink("Hierarchie uživatelů", "Hierarchy")
<p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filtrovat dle řetězce: <input type="text" name="CurrentFilter" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Filtruj" class="btn btn-default" /> |
            <a asp-action="Index">Zrušit filtr</a>
        </p>
    </div>
</form>
</p>
@Html.Partial("_paging")
<table class="table">
    <thead>
        <tr>
            <th>Mail</th>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Přiřazená role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Jmeno
                    </td>
                    <td>
                        @item.Prijmeni
                    </td>
                    <td>
                    @item.Role
                    </td>
                    <td>
                    @Html.ActionLink("Upravit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Detail", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Smazat", "Delete", new { id=item.Id }) |
                    @Html.ActionLink("Impersonifikuj", "Impersonifikace", new {  id=item.Id },HttpMethod.Post)
                    </td>
                </tr>
        }
    </tbody>
</table>
