@model IEnumerable<Informacni_System_Pojistovny.Models.Entity.Uzivatel>

@{
    ViewData["Title"] = "Přehled uživatelů";
}

<h1>Přehled uživatelů</h1>

<p>

</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mail</th>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Přiřazená role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Jmeno
                    </td>
                    <td>
                        @item.Prijmeni
                    </td>
                    <td>
                    @item.Role
                    </td>
                    <td>
                    @Html.ActionLink("Upravit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Detail", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Smazat", "Delete", new { id=item.Id }) |
                    @Html.ActionLink("Impersonifikuj", "Impersonifikace", new {  id=item.Id },HttpMethod.Post)
                    </td>
                </tr>
        }
    </tbody>
</table>
