@model Informacni_System_Pojistovny.Models.Model.PohledavkaModels.RedirectablePohledavka

@{
    ViewData["Title"] = "Smazání pohledávky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Smazání pohledávky</h1>

<h3>Opravdu chcete smazat tuto pohledávku?</h3>
<div>
    <h4>Pohledávka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vznik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vznik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumSplatnosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumSplatnosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vyse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vyse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumSplaceni)
        </dt>
        <dd class = "col-sm-10">
            @{
                if (Model.DatumSplaceni != null)
                {
                //Html.DisplayFor(modelItem => item.DatumSplaceni);
                          <span>@(((DateTime)Model.DatumSplaceni).ToString("dd.MM.yyyy"))</span>
                }
                else
                {
                  <span>Nesplaceno</span>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popis)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input hidden asp-for="RedirectedFrom" class="form-control" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        @if (Model.RedirectedFrom == null)
        {
            <a asp-action="Index">Zpět na detail</a>
        }else{
            if (Model.RedirectedFrom.Equals("Klient"))
            { 
                <a asp-action="Details" asp-controller="@Model.RedirectedFrom" asp-route-id=@Model.KlientId>Zpět na klienta</a>
            }
            else
            {
                <a asp-action="Details" asp-controller="@Model.RedirectedFrom" asp-route-id=@Model.PojistkaId>Zpět na pojistku</a>
            }
        }
    </form>
</div>
