@model Informacni_System_Pojistovny.Models.Entity.PojistnaUdalost

@{
    ViewData["Title"] = "Detail pojistné události";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>Pojistná událost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vznik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vznik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NarokovanaVysePojistky)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NarokovanaVysePojistky)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd class = "col-sm-10">
            @Model.Klient
        </dd>
    </dl>
    @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
    {
        <span>@Html.ActionLink("Upravit", "Edit",new { id= Model.PojistnaUdalostId}) |</span>
    }
    <a asp-action="Index">Zpět na přehled</a>
            <p>

</p>
    <h1>Závazky</h1>
        <p>
        @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
        {
            @Html.ActionLink("Vytvoření nového závazku", "Create","Zavazek", new { pojistnaUdalostId=Model.PojistnaUdalostId })
        }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                    Závazky k pojistné události
            </th>
            <th>
                    Datum splatnosti
            </th>
            <th>
                    Výše
            </th>
            <th>
                    Datum splacení
            </th>
            <th>
                    Popis
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Zavazky)
            {
                            <tr>
                                <td>
                        @Html.DisplayFor(modelItem => item.Vznik)
                                </td>
                                <td>
                        @Html.DisplayFor(modelItem => item.DatumSplatnosti)
                                </td>
                                <td>
                        @Html.DisplayFor(modelItem => item.Vyse)
                                </td>
                                <td>
                        @{
                            if (item.DatumSplaceni != null)
                            {
                    //Html.DisplayFor(modelItem => item.DatumSplaceni);  -- hmm, s dateTime? to hodně funguje...
                               <span>@(((DateTime)item.DatumSplaceni).ToString("dd.MM.yyyy"))</span>
                            }
                            else
                            {
                              <span>Nesplaceno</span>
                            }
                        }
                                </td>
                                <td>
                        @Html.DisplayFor(modelItem => item.Popis)
                                </td>
                                <td>
                        @Html.ActionLink("Detail", "Details", "Zavazek", new { id=item.ZavazekId, redirectedFrom= "PojistnaUdalost" })
                        @if (Context.User.IsInRole(UzivateleRole.Admin.ToString()) || Context.User.IsInRole(UzivateleRole.PriviledgedUser.ToString()))
                        {
                            <span>| @Html.ActionLink("Upravit", "Edit","Zavazek", new { id=item.ZavazekId, redirectedFrom= "PojistnaUdalost" }) | </span>
                            @Html.ActionLink("Smazat", "Delete","Zavazek", new { id=item.ZavazekId, redirectedFrom= "PojistnaUdalost" })
                        }
                    </td>
                            </tr>
            }
    </tbody>
</table>
    @{
        if (Model.Zavazky == null || Model.Zavazky.Count == 0)
        {
            <span>K této pojistné události nejsou evidovány žádné závazky.</span>
        }
    }
</div>
<div>
</div>
